body {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #EEE;
  background-color: #222;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6em;
  font-size: 18px;
  padding: 0;
}

h1 a,h1 a:visited {
  color: #EEE;
  text-decoration: none;
}

pre {
  background: #333;
  border-radius: 5px;
  padding: 10px;
  line-height: 37px;
  color: #71c851;
}
pre .str {
  color: #ff00e3;
}
pre .com {
  color: white;
}
.highlight {
  color: #e83a58;
}

footer {
  display: flex;
  margin-top: 200px;
}